<div class="container-small-card">

    <div class="container-small-card-content">
        <div class="small-card-pic">
            <img 
                src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1275957/retina_1708x683_cover-top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png" 
                alt=""
            >
        </div>
    
        <div class="small-card-title">
            <h1>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            </h1>
        </div>
    </div>

    <hr>

</div>    

