.container-small-card {
    width: 500px;
    margin-bottom: 15px;
}

.container-small-card-content{
    display: flex;
}

.small-card-pic img {
    width: 200px;
    min-width: 200px;
    margin-right: 15px;
}

.small-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 20px;
}

hr {
    margin-top: 15px;
}