.container-menu-bar ul {
    display: flex;
    width: 100vw;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
}

.container-menu-bar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-menu-bar li{
    list-style: none;
    margin-right: 15px;
}

.logo {
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    margin-right: 30px;
}

a img {
    width: 30px;
}