<div class="container-menu-bar">
    <nav>
        <ul>
            <div>
                <li><a [routerLink]="['']" class="logo">The Blog</a></li>
                <li><a [routerLink]="['']">Home</a></li>
                <li><a [routerLink]="['']">About</a></li>
                <li><a [routerLink]="['']">Series</a></li>
                <li><a [routerLink]="['']">Animes</a></li>
                <li><a [routerLink]="['']">Games</a></li>
                <li><a [routerLink]="['']">Contact us</a></li>
            </div>

            <div>
                <li><a href="https://github.com/zLordelo"><img src="../../../assets/github.svg" alt=""></a></li>
                <li>•</li>
                <li><a href="https://www.linkedin.com/in/joao-lordelo/"><img src="../../../assets/linkedin.svg" alt=""></a></li>
                <li>•</li>
                <li><a href="https://www.instagram.com/zlordelo/"><img src="../../../assets/instagram.svg" alt=""></a></li>
            </div>
        </ul>
    </nav>
</div>